@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=auto');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-inter: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background-color: #222;
  margin: 0;
}

html {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar-track {
  width: 0px;
}

.w-6 {
  width: 24px;
}

.h-6 {
  height: 24px;
}

.ce-toolbar__plus {
  background-color: azure;
}

.ce-toolbar__settings-btn {
  background-color: azure;
}

@keyframes eKXFfL {
  0%,
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -100% center;
  }
}
